/* RecipeCard.css */
.recipe-card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  width: 300px;
  gap: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-image {
  max-width: 100%;
  border-radius: 8px;
}

.recipe-card > button {
  background-color: rgb(183, 13, 13);
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  width: 20%;
}
.recipe-card > button:hover {
  cursor: pointer;
}
